@model ReservaTuristica.Application.DTOs.ReservaDto

<h1>Finalizar Reserva</h1>

@if (ViewBag.Mensaje != null)
{
    <div class="alert alert-success">
        @ViewBag.Mensaje
    </div>
}

@if (ViewBag.Error != null)
{
    <div class="alert alert-danger">
        @ViewBag.Error
    </div>
}

<form asp-action="Crear" method="post">

    <div class="mb-3">

        <input asp-for="FechaInicio"
               class="form-control"
               type="hidden"
               readonly/>

    </div>

    <div class="mb-3">

        <input asp-for="FechaFin"
               class="form-control"
               type="hidden" 
               readonly />

    </div>

    <div class="mb-3">

        <label>Nombre Titular</label>

        <input asp-for="NombreTitular"
               class="form-control" />

    </div>

    <div class="mb-3">

        <input asp-for="NumeroPersonas"
               class="form-control"
               type="hidden"
               readonly />

    </div>

    <div class="mb-3">

        <input asp-for="NumeroHabitaciones"
               class="form-control"
               type="hidden"
               readonly />

    </div>

    <div class="mb-3">

        <input asp-for="AlojamientoId"
               type="hidden" />
    </div>

    <button type="submit"
            class="btn btn-primary">

        Reservar

    </button>

</form>